    body {
      background: rgb(204, 204, 204);
    }

    page {
      background: white;
      display: block;
      margin: 0 auto;
      margin-bottom: 0.5cm;
      padding: 20px;
    }

    page[size="A4"] {
      width: 21cm;
      height: 29.7cm;
    }

    page[size="A4"][layout="portrait"] {
      width: 29.7cm;
      height: 21cm;
    }

    table {
      border: 3px solid #6495ed;
      border-collapse: collapse;
      width: 100%;
      margin: auto;
    }

    thead,
    tfoot {
      background-color: #D0E3FA;
      border: 1px solid #6495ed;
    }

    tbody {
      background-color: #FFFFFF;
      border: 1px solid #6495ed;
    }

    th {
      font-family: monospace;
      border: 1px dotted #6495ed;
      padding: 5px;
      background-color: #EFF6FF;
      width: 25%;
    }

    td {
      font-family: sans-serif;
      font-size: 80%;
      border: 1px solid #6495ed;
      padding: 5px;
      text-align: left;
    }

    th,
    td {
      text-align: center;
    }

    caption {
      font-family: sans-serif;
    }

    #chart {
      max-width: 650px;
      margin: 35px auto;
    }

    @media print {

      body,
      page {
        margin: 0;
        box-shadow: 0;
      }

      @page :footer {
        display: none
      }

      @page :header {
        display: none
      }
    }