* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.c {
  border-bottom: 1px solid black;
}

.col-8 {
  border-left: 1px solid black;
}

.col-11 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.row > div > h2 > span {
  font-style: italic;
  font-weight: normal;
}
